<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Equity | About</title>
</head>

<body>
  <div id="getting_started">
    <h2>About Equity</h2>
    <p>Equity is an online driver location service intended to help computer
       users to locate Operating System drivers for hardware devices that are
       installed in their computer systems. It is intended to largely serve
       as an automated online service that other operating system software
       can utilize without the user explicitly having to perform a search.
       By submitting certain anonymous information about hardware devices
       for which no driver is currently loaded, Equity can make driver
       recommendations for a given Operating System, based upon those
       drivers and systems that it knows about. Although initially designed
       to target Linux systems, there is no reason why other Operating
       Systems cannot also use the service.</p>
    <h3>What's in a name?</h3>
    <p>In the early days of the Common Law legal system, there was law and
       there was equity - an alternative system that evolved from people
       throwing themselves upon the mercy of the King (via the Chancery)
       to resolve their issues. These were issues of natural justice for
       which there was often no good alternative solution, and this parallel
       legal system existed independently of the regular courts for hundreds
       of years (before largely being merged into modern day court systems).
       Just like those royal subjects of olden times, modern computing users
       must occasionally throw themselves upon the mercy of the internet to
       find drivers for hardware not supported by their Operating System. In
       this sense, Equity hopes to be a stop-gap alternative solution until
       the day when third party driver updates are no longer needed.</p>
  </div>
</body>
</html>
