<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Device information for ${device.name} | Equity</title>
</head>

<body>
  <py:if test="admin==True">
      <div class="devices_control">
          <h2>Device Controls</h2>
          <a href="${tg.url('/device/new')}"><img src="${tg.url('/images/dbplus.png')}" alt="add device" style="border: 0px;" /></a>
      </div>
  </py:if>
  <div>
      <div class="device_section">Details for device ${device.name}</div>
  </div>
  <div>
      <p>The following information is available for the ${device.name} device.</p>
  </div>
  <table class="device">
      <tr>
          <td class="device_title"><b>Name:</b></td>
          <td class="device_value"><a href="/devices/${device.name}">${device.name}</a></td>
      </tr>
      <tr>
          <td class="device_title"><b>Vendor:</b></td>
          <td class="device_value"><a href="/vendors/${device.vendor.name}">${device.vendor.name}</a></td>
      </tr>
      <tr>
          <td class="device_title"><b>Type:</b></td>
          <td class="device_value"><a href="/devicetypes/${device.devicetype.name}">${device.devicetype.name}</a></td>
      </tr>
      <tr>
          <td class="device_title"><b>Version:</b></td>
          <td class="device_value">${device.version}</td>
      </tr>
      <tr>
          <td class="device_title"><b>Release Date:</b></td>
          <td class="device_value">${device.release_date.year}-${device.release_date.month}-${device.release_date.day} ${device.release_date.hour}:${device.release_date.minute}:${device.release_date.second}</td>
      </tr>
      <tr>
          <td class="device_title"><b>Owner:</b></td>
          <td class="device_value"><a href="/users/${device.state.owner.user_name}">${device.state.owner.display_name}</a> <a href="mailto:${device.state.owner.email_address}">(${device.state.owner.email_address})</a></td>
      </tr>
      <tr>
          <td class="device_title"><b>Aliases:</b></td>
          <td class="device_value">
              <div class="device_list">
                  <span>
                      ${tmpl_context.paginators.aliases.pager()}
                  </span>
              </div>
              <table>
                  <tr>
                      <td>
                          <table>
                          <?python row_color="#FFFFFF" ?>
                              <tr class="devices_list" bgcolor="${row_color}" py:for="alias in aliases">
                                  <td class="devices_list">
                                      ${alias.alias}
                                  </td>
                                  <?python row_color = (row_color=="#f1f1f1") and "#FFFFFF" or "#f1f1f1" ?>
                              </tr>
                          </table>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      <tr>
          <td class="device_title"><b>Systems:</b></td>
          <td class="device_value">
              <div class="device_list">
                  <span>
                      ${tmpl_context.paginators.systems.pager()}
                  </span>
              </div>
              <table>
                  <tr>
                      <td>
                          <table>
                          <?python row_color="#FFFFFF" ?>
                              <tr class="devices_list" bgcolor="${row_color}" py:for="system in systems">
                                  <td class="devices_list">
                                      <a href="/systems/${system.name}" class="devices_list">${system.name}</a>
                                  </td>
                                  <?python row_color = (row_color=="#f1f1f1") and "#FFFFFF" or "#f1f1f1" ?>
                              </tr>
                          </table>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <py:if test="admin==True">
                              <div py:replace="tmpl_context.systems_form(dict(device_id=device.device_id))">Input Form</div>
                          </py:if>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      <tr>
          <td class="device_title"><b>Drivers:</b></td>
          <td class="device_value">
              <div class="device_list">
                  <span>
                      ${tmpl_context.paginators.drivers.pager()}
                  </span>
              </div>
              <table>
                  <?python row_color="#FFFFFF" ?>
                  <tr class="devices_list" bgcolor="${row_color}" py:for="driver in drivers">
                      <td class="devices_list">
                          <a href="/drivers/${driver.name}" class="devices_list">${driver.name}</a>
                      </td>
                      <?python row_color = (row_color=="#f1f1f1") and "#FFFFFF" or "#f1f1f1" ?>
                  </tr>
              </table>
          </td>
      </tr>
      <tr>
          <td class="device_title"><b>Comments:</b></td>
          <td class="device_value">
              <span py:for="comment in device.comments">
                  ${comment.comment}
              </span>
          </td>
      </tr>
      <tr>
          <py:if test="admin==True">
              <td class="device_title"><b>Add an alias:</b></td>
              <td class="device_value">
                  <div py:replace="tmpl_context.alias_form(dict(device_id=device.device_id))">Input Form</div>
              </td>
          </py:if>
      </tr>
  </table>
  <div class="clearingdiv" />
</body>
</html>
