<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>New Driver Build | Equity</title>
</head>

<body>
  <div>
      <div class="arch_section">Enter details for new driver build:</div>
      <div py:replace="tmpl_context.form(dict(driver_id=driver_id))">Input Form</div>
  </div>
  <div class="clearingdiv" />
</body>
</html>
