<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Equity | Home</title>
</head>

<body>
  <py:if test="logged_in==True and admin==False">
     ${sidebar_user()}
  </py:if>
  <py:if test="logged_in==True and admin==True">
     ${sidebar_admin()}
  </py:if>
  <div id="equity_welcome">
    <h2>Welcome to equity</h2>
    <p>Welcome to equity, the online driver location solution written by
       Jon Masters. You can use this service to locate additional device
       drivers for your Operating System, typically using an automated
       driver management utility provided by your Operating System
       vendor. There is also this web interface.</p>
    <p>Feedback? Please send email: <a href="mailto:jcm-equity@jonmasters.org">jcm-equity@jonmasters.org</a></p>
  </div>
  <div class="systems_list">
      <span>
        ${tmpl_context.paginators.systems.pager()}
      </span>
  </div>
  <div>
      <h2>Known Systems</h2>
  </div>
  <div>
    <p>The following systems are known to the Equity database because they
       have device entries or drivers available for them. If your system
       is not listed, please consider adding the information yourself.</p>
  </div>
  <table class="systems_list">
    <tr class="systems_list">
        <th class="systems_list">
            <b>Name</b>
        </th>
        <th class="systems_list">
            <b>Owner</b>
        </th>
        <th class="systems_list_control">
        </th>
    </tr>
    <?python row_color="#FFFFFF" ?>
    <tr class="systems_list" bgcolor="${row_color}" py:for="arch in systems">
        <td class="systems_list">
            <a href="/systems/${arch.name}" class="systems_list">${arch.name}</a>
        </td>
        <td class="systems_list">
            <a href="/users/${arch.state.owner.user_name}" class="systems_list">${arch.state.owner.display_name}</a>
        </td>
         <td class="systems_list_control">
            <a href="/systems/edit/${arch.name}" class="systems_list_control"><img src="${tg.url('/images/pencil.png')}" alt="edit" style="border:0px;"/></a>
        </td>
        <?python row_color = (row_color=="#f1f1f1") and "#FFFFFF" or "#f1f1f1" ?>
    </tr>
  </table>
  <div class="clearingdiv" />
</body>
</html>
