<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>System information for ${system.name} | Equity</title>
</head>

<body>
  <py:if test="admin==True">
      <div class="systems_control">
          <h2>System Controls</h2>
          <a href="${tg.url('/systems/new')}"><img src="${tg.url('/images/dbplus.png')}" alt="add system" style="border:0px;" /></a>
      </div>
  </py:if>
  <div>
      <div class="system_section">Details for system ${system.name}</div>
  </div>
  <div>
      <p>The following information is available for the ${system.name} system.</p>
  </div>
  <table class="system">
      <tr>
          <td class="system_title"><b>Name:</b></td>
          <td class="system_value"><a href="/systems/${system.name}">${system.name}</a></td>
      </tr>
      <tr>
          <td class="system_title"><b>Vendor:</b></td>
          <td class="system_value"><a href="/vendors/${system.vendor.name}">${system.vendor.name}</a></td>
      </tr>
      <tr>
          <td class="system_title"><b>Family:</b></td>
          <td class="system_value"><a href="/systemfamilies/${system.systemfamily.name}">${system.systemfamily.name}</a></td>
      </tr>
      <tr>
          <td class="system_title"><b>Version:</b></td>
          <td class="system_value">${system.version}</td>
      </tr>
      <tr>
          <td class="system_title"><b>Release Date:</b></td>
          <td class="system_value">${system.release_date.year}-${system.release_date.month}-${system.release_date.day} ${system.release_date.hour}:${system.release_date.minute}:${system.release_date.second}</td>
      </tr>
      <!--
      <tr>
          <td class="system_title"><b>Family:</b></td>
          <td class="system_value"><a href="/systemfamilies/${system.systemfamily.name}">${system.name}</a></td>
      </tr>
      -->
      <tr>
          <td class="system_title"><b>Owner:</b></td>
          <td class="system_value"><a href="/users/${system.state.owner.user_name}">${system.state.owner.display_name}</a> <a href="mailto:${system.state.owner.email_address}">(${system.state.owner.email_address})</a></td>
      </tr>
      <tr>
          <td class="system_title"><b>Devices:</b></td>
          <td class="system_value">
              <div class="system_list">
                  <span>
                      ${tmpl_context.paginators.devices.pager()}
                  </span>
              </div>
              <table>
                  <?python row_color="#FFFFFF" ?>
                  <tr class="systems_list" bgcolor="${row_color}" py:for="device in devices">
                      <td class="systems_list">
                          <a href="/devices/${device.name}" class="systems_list">${device.name}</a>
                      </td>
                      <?python row_color = (row_color=="#f1f1f1") and "#FFFFFF" or "#f1f1f1" ?>
                  </tr>
              </table>
          </td>
      </tr>
      <tr>
          <td class="system_title"><b>Comments:</b></td>
          <td class="system_value">
              <span py:for="comment in system.comments">
                  ${comment.comment}
              </span>
          </td>
      </tr>
  </table>
  <div class="clearingdiv" />
</body>
</html>
